body{
    margin:0px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}





/* nav CSS */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.582);
}


.nav-container img {
    height: 200px;
    display: block;
}

.nav-container #left {
    margin: 0px;
    padding: 0px;
}

.nav-container a, .filter-btn button {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 4px !important;
    color: white;
    font-size: 18px;
    padding: 18px 35px
}

.highlight-button:hover , .filter-btn button:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff
}

.highlight-button i {
    color: #000
}

.highlight-button:hover i {
    color: #fff
}

/* login side */
.card mx-4 mx-md-5 shadow-5-strong {
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}



/* homepage */

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    min-height: 30%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* products page */
.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.card {
    padding:3%;
    box-shadow:
        4.3px 4.5px 7.2px rgba(0, 0, 0, 0.027),
        11.8px 12.5px 19.9px rgba(0, 0, 0, 0.039),
        28.3px 30.1px 47.9px rgba(0, 0, 0, 0.049),
        94px 100px 159px rgba(0, 0, 0, 0.07);
}


.card img {
    height: auto;
    padding: 15%;
    max-width: 100px;
}

.filter-btn{
    display: flex;
    justify-content: space-around;
}



/* admin home */
.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-height: 300px;
}

.sections {
    background-color: white;
    padding: 2%;
    width: 100%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sections a {
    text-decoration: none;
    color: #3c4fe6;
}

.sections label {
    margin: 2%;
}

.main-content ul {
    text-decoration: none;
    list-style-type: none;
}


.main-content a {
    text-decoration: none;
    outline: none;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: 2px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    margin-left: 2%;
    height: fit-content;
}


.main-content a:hover {
    transition: 1ms;
    border: 2px solid darkorange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(179, 99, 2);
}

#main-contentsectionhome {
    width: fit-content;
}