.card2 {
    height: fit-content;
    background-color: rgb(34, 33, 33);
    color: white;
    text-align: center;
    padding: 2%;
    font-family: 'Bodoni Moda', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card2 img {
    width: 200px;
    height: 200px;
    margin: auto;
}