body {
    margin: 0px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}





/* nav CSS */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgb(0, 0, 0);
}


.nav-container img {
    height: 200px;
    display: block;
}

.nav-container #left {
    margin: 0px;
    padding: 0px;
}

.nav-container a,
.filter-btn button {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 4px !important;
    color: white;
    font-size: 18px;
    padding: 18px 35px
}

.highlight-button:hover,
.filter-btn button:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff
}

.highlight-button i {
    color: #000
}

.highlight-button:hover i {
    color: #fff
}

/* login side */
.card mx-4 mx-md-5 shadow-5-strong {
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}



/* homepage */

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    min-height: 30%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* products page */
/* .flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.card {
    padding:3%;
    box-shadow:
        4.3px 4.5px 7.2px rgba(0, 0, 0, 0.027),
        11.8px 12.5px 19.9px rgba(0, 0, 0, 0.039),
        28.3px 30.1px 47.9px rgba(0, 0, 0, 0.049),
        94px 100px 159px rgba(0, 0, 0, 0.07);
}


.card img {
    height: auto;
    padding: 15%;
    max-width: 100px;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    flex: 1;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 -15px;
}

.card {
    width: 30%;
    margin: 0 0 30px;
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow:
        4.3px 4.5px 7.2px rgba(0, 0, 0, 0.027),
        11.8px 12.5px 19.9px rgba(0, 0, 0, 0.039),
        28.3px 30.1px 47.9px rgba(0, 0, 0, 0.049),
        94px 100px 159px rgba(0, 0, 0, 0.07);
    transition: box-shadow 0.2s ease;
    display: flex;
    padding: 3%;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-image img {
    display: block;
    max-width: 100%;
    height: fit-content;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-info {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    margin: 0 0 5px;
}

.card-description {
    margin: 0 0 10px;
    line-height: 1.4;
}

.card-price {
    margin: 0 0 10px;
}

.card-quantity {
    margin: 0 0 10px;
}

.card-button {
    margin-top: auto;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.card-button:hover {
    background: #0069d9;
}

@media (min-width: 576px) {
    .col {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col {
        max-width: 33.333333%;
    }
}

.filter-btn {
    display: flex;
    justify-content: space-around;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.text-black {
    color: #000;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

/* floating ojc hompage */

.floating-object {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes float {
    from {
        transform: translate(-50%, -50%) translateY(-20px);
    }

    to {
        transform: translate(-50%, -50%) translateY(20px);
    }
}


.hero {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    position: relative;
}

.hero h1 {
    font-size: 70px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}


.parallax-section {
    background-color: #e0a800;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    margin-top: 10%;
    margin-right: 0%;
    transform: skewY(-11deg);
    color: black;
}

.parallax-section .content {
    transform-style: preserve-3d;
    transform: translateZ(-100px) scale(2);
    transform: skewY(11deg);
    width: fit-content;
    padding:5%;
    position: absolute;
    right: 50%;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

.parallax-section img {
    margin: 0%;
    width: 50%;
    position: absolute;
    left: 50%;
}

.profile-card-2 {
    max-width: 300px;
    background-color: black;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
    height: 600px;
    width: 600px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}


.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.home-product-container{
    display: flex;
    align-content: ;
}

