*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;

}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("C:/Users/CK/Documents/TheGildedBottle/photos/background1.jpg");
    height: 100vh;
    -webkit-background-size:cover ;
    background-size:cover;
    background-position: center center;
    position:relative ;
    
}
.logo img{
    width: 100px;
    padding: 15px 0;

    

}
.welcome-text {
   position: absolute;
   width: 600px;
   height: 300px;
   margin: 20% 30%;
   text-align: center;
}

.welcome-text p {
    color:#fff ;
    font-size: 17px;
    line-height:1.9;
}


.contact
{
position: relative;
min-height: 100vh;
padding:50px 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("C:/Users/CK/Documents/TheGildedBottle/photos/background1.jpg");
-webkit-background-size:cover ;

}
.contact.content 
{

     max-width: 800px;
     text-align: center;
}
.contact .content h2
{

    font-size: 36px; 
    font-weight:500 ;
    color:#dbbe1c;
}
.contact .content p
{
font-weight: 300;
color:#fff
}
.container
{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.container .contactInfo
{
    width: 50;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width:60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size :22px; ;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left:20px ;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}

.container .contactInfo .box .text h3 
{
font-weight: 500;
color:#dbbe1c ;

}
.ContactForm 
{
    width:180% ;
    padding: 40px;
    background:#fff;
}
.ContactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight:500 ;
}
.ContactForm .InputBox
{
    position: relative;
    width:100%;
    margin-top: 10px;
}
.ContactForm .InputBox input,
.ContactForm .InputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none ;
    resize: none;

}
.ContactForm .InputBox span
{
position: absolute ;
left: 0;
padding: 5px 0;
font-size: 16px;
margin:10px 0;
pointer-events: none;
transition: 0.5s;
color: #666;
}
.ContactForm .InputBox input:focus ~ span,
.ContactForm .InputBox input:valid ~ span,
.ContactForm .InputBox textarea:focus ~ span,
.ContactForm .InputBox textarea:valid ~ span

{
    color: #dbbe1c;
    font-size:12px ;
    transform:translateY(-20px) ;
}
.ContactForm .InputBox input[type="submit"]
{
    width:100px ;
    background:#dbbe1c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding:10px ;
    font-size: 18px;

}
@media (max-width: 991px)
{
    .contact
{
    padding: 50px;
}
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,.ContactForm
    {
        width:100% ;
    }
}
