// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// Variables
$primary-color: #007bff;
$spacer: 1rem;

// Mixins
@mixin button {
    display: inline-block;
    margin-right: $spacer;
    margin-bottom: $spacer;
    border-radius: 0;

    &:last-child {
        margin-right: 0;
    }
}

// Styles
h3 {
    margin-bottom: $spacer;
}

.filter-btn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacer;

    button {
        @include button;
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;

        &:focus,
        &:active {
            color: #fff;
            background-color: darken($primary-color, 10%);
            border-color: darken($primary-color, 10%);
        }
    }
}

.filter-form {
    form {
        display: flex;
        flex-wrap: wrap;

        label {
            margin-right: $spacer;
        }

        input[type="number"] {
            width: 100px;
            margin-right: $spacer;
        }

        button[type="submit"] {
            @include button;
            color: #fff;
            background-color: $primary-color;
            border-color: $primary-color;

            &:focus,
            &:active {
                color: #fff;
                background-color: darken($primary-color, 10%);
                border-color: darken($primary-color, 10%);
            }
        }
    }
}